$font-stack: 'Source Sans Pro', sans-serif;
$headers-gray: #333333;
$accent-color: #53bbb4;
$deviders-gray: #e7e7e7;
$text-light-gray: #7d7d7d;
$text-darken-gray: #717171;
$background: #fbfbfb;
$white: #fff;
$shadow: 0 2px 4px rgba(0,0,0,0.3);

*{
  margin: 0;
  padding: 0;
}

.top-offset {
  margin-top: 30px;
}

.bottom-offset {
  margin-bottom: 30px;
}

.padding-ten {
  padding: 10px;
  box-sizing: border-box;
}

.auto-center {
  margin: auto;
}

ul {
  list-style: none;
}

body {
  background: $background;
  font-family: $font-stack;
  a {
    text-decoration: none;
  }

  .container {
    max-width: 1020px;
    width: 90%;
    margin: 0 auto;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $accent-color;
    color: $white;
    box-shadow: $shadow;
    z-index: 2005;

    .container {
      width: 100%;
      max-width: 960px;
    }

    h1 {
      padding: 15px 0;
      font-size: 32px;
      padding-right: 20px;
    }

    .desktop-nav {
      display: none;
      visibility: hidden;
    }

    .menu {
      position: absolute;
      top: 16px;
      left: 16px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: $shadow;
    }

    .menu-link {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1002;
    }

    .menu-icon {
      position: absolute;
      width: 20px;
      height: 14px;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 1px;
    }

    .menu-line {
      background-color: $accent-color;
      height: 2px;
      width: 100%;
      border-radius: 2px;
      position: absolute;
      left: 0;
      -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .menu-line-2 {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .menu-line-3 {
      bottom: 0;
    }
    .menu-circle {
      background-color: $background;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      -webkit-transform: scale(1);
              transform: scale(1);
      z-index: 1000;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .menu.open {
      .menu-circle {
        -webkit-transform: scale(60);
                transform: scale(60);
      }
      .menu-line-2 {
        opacity: 0;
      }

      .menu-line-1 {
        -webkit-transform: translateY(7px) translateY(-50%) rotate(-135deg);
                transform: translateY(7px) translateY(-50%) rotate(-135deg);
      }

      .menu-line-3 {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform: translateY(-7px) translateY(50%) rotate(135deg);
                transform: translateY(-7px) translateY(50%) rotate(135deg);
      }
    }

    .menu-overlay {
      background-color: $background;
      color: $headers-gray;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      -webkit-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      z-index: 1001;
      opacity: 0;
      visibility: hidden;
    }

    .menu-overlay.open {
      opacity: 1;
      visibility: visible;
    }

    .menu-overlay a {
      color: $headers-gray;
      font-weight: 600;
      font-size: 32px;
      padding: 2%;
      margin:  8% 1% 0;
      display: block;
      &.active {
        color: $accent-color;
      }
      &:first-of-type {
        margin-top: 17%;
      }
    }

    .name {
      text-align: right;
      /* padding: 16px 0; */
      box-sizing: border-box;
      font-weight: bold;
      font-size: 18px;
    }
  }



  main {
    position: relative;
    top: 70px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: $background;
    text-align: center;
    opacity: 1;
    visibility: visible;
    z-index: 2000;

    &.show {
      opacity: 0;
      visibility: hidden;
    }

      /*----- main section styles about page -----*/

    img.avatar {
      width: 100%;
      max-width: 150px;
      border-radius: 50%;
      border: 5px solid #2d918a;
      box-shadow: $shadow;
    }

    h1 {
      font-size: 45px;
      font-weight: bolder;
      text-shadow: $shadow;
      margin-bottom: 0;
    }
    span {
      font-size: 18px;
      font-weight: 500;
    }
    span.occupation {
      color: $accent-color;
    }
    span.devider {
      display: block;
      height: 4px;
      width: 120px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: $accent-color;
    }
    p.about-me {
      font-size: 18px;
      color: #878787;
    }

    button {
      margin: 30px 0;
      padding: 10px;
      font-size: 14px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      border-radius: 3px;
      background-color: #c25975;
      color: $white;
      box-shadow: $shadow;
    }

    /*----- main section styles Resume page -----*/

    h2, h3 {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid $accent-color;
    }
    h2.resume {
      font-weight: bold;
      margin: 30px 0;
    }
    h3 {
      font-weight: 600;
    }

    ul.info {
      list-style: none;
      li {
        padding: 2px 0;
        box-sizing: border-box;
        .key, .value {
          box-sizing: border-box;
          padding: 0;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          width: 50%;
          font-size: 16px;
          color: $headers-gray;
        }

        .key {
          padding-right: 10px;
          text-align: right;
          justify-content: flex-end;
          font-weight: 600;
        }
        .value {
          padding-left: 10px;
          text-align: left;
          justify-content: flex-start;
          font-weight: 400;
          a {
            color: $headers-gray;
          }
        }
      }
    }



    .skill {
      font-weight: 600;
      word-wrap: break-word;
      box-sizing: border-box;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .description {
      word-wrap: break-word;
      box-sizing: border-box;
      color: #707070;
      &:after {
        content: '';
        clear: both;
        display: block;
        width: 100px;
        height: 2px;
        margin: 5px auto;
        background-color: #e7e7e7;
      }
      &:last-of-type:after {
        display: none;
      }
    }

    /*----- main section styles Portfolio page -----*/
    .container {
      margin: 0 auto;
    }
    ul.portfolio-holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      li {
        margin-bottom: 20px;
      }
    }

    .card {
      display: inline-block;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 3px 4px rgba(0,0,0,0.4);
      padding: 0;
      &:hover {
        box-shadow: 0 6px 8px rgba(0,0,0,0.4);
      }
    }

    .item-image {
      border-radius: 5px 5px 0 0;
      display: block;
      width: 100%;
      height: 230px;
      background-size: cover;
    }
    .image-1 {
      background-image: url('../img/items/item-1.jpg');
    }
    .image-2 {
      background-image: url('../img/items/item-2.jpg');
    }
    .image-3 {
      background-image: url('../img/items/item-3.jpg');
    }
    .image-4 {
      background-image: url('../img/items/item-4.jpg');
    }
    .image-5 {
      background-image: url('../img/items/item-5.jpg');
    }
    .bottom-part {
      display: inline-block;
      width: 100%;
      height: 100px;
      background-color: $white;
      border-radius: 0 0 5px 5px;
      p {
        font-size: 20px;
        color: #3a3a3a;
        text-align: left;
        padding-left: 15px;
        padding-top: 13px;
      }
      .parent-holder {
        text-align: right;
      }
      .settings-holder {
        display: inline-block;
        position: relative;
        top: 15px;
        left: 0px;
        padding: 3px;
        width: 23px;
        height: 23px;
        box-sizing: border-box;
        border-radius: 50%;
        text-align: center;
        &:hover {
          cursor: pointer;
          background-color: #e5e5e5;
        }
      }
      .settings-btn {
        display: block;
        margin: 0 auto;
        margin-top: 3px;
        padding: 0;
        width: 3px;
        height: 3px;
        background-color: #a1a1a1;
        border-radius: 50%;
        &:first-of-type {
          margin-top: 0;
        }
      }
      .tools-holder {
        box-sizing: border-box;
        margin-top: 10px;
        text-align: left;
        font-size: 12px;
        p.tools {
          font-size: 12px;
          padding: 10px 0 0 0;
          display: inline-block;
        }
        ul {
          margin: 0 auto;
          box-sizing: border-box;
          display: inline-block;
          padding: 0;
          margin-left: 5px;
          li {
            box-sizing: border-box;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-left: 3px;
            span {
              font-size: 12px;
              padding: 3px 5px;
              border-radius: 3px;
              background-color: #ccc;
              color: #4d4d4d;
              text-shadow: none;
              box-shadow: 0 2px 2px rgba(0,0,0,0.3);
            }
          }
        }
      }
    }

    /*----- main section styles Contact page -----*/

    #map {
      height: 400px;
    }
    form {
      width: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .input-field, textarea {
        display: inline-flex;
        padding: 20px;
        box-sizing: border-box;
        font-family: $font-stack;
        width: 100%;
        font-size: 16px;
        color: #9a9a9a;
        outline: none;
        background-color: $background;
        border: 1px solid #c9c9c9;
        &:focus {
          border: 1px solid $accent-color;
        }
      }

      textarea {
        width: 100%;
        height: 250px;
      }

      .form-button {
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        color: $white;
        border: none;
        background-color: $accent-color;
        outline: none;
        border-radius: 3px;
        box-shadow: $shadow;
        display: inline-flex;
        &:hover {
          cursor: pointer;
          background-color: darken($accent-color, 5%);
          box-shadow: 0 2px 6px rgba(0,0,0,0.4);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    header {
      .name {
        text-align: left;
        display: inline-flex;
        padding-left: 40px;
        box-sizing: border-box;
      }
      .mobile-nav {
        display: none;
        visibility: hidden;
      }
      .desktop-nav {
        text-align: right;
        display: inline-flex;
        visibility: visible;
        height: 100%;
        justify-content: flex-end;
        padding-right: 40px;
        box-sizing: border-box;
        a {
          display: inline-flex;
          color: $white;
          font-size: 20px;
          font-weight: bold;
          height: 100%;
          padding: 22px 10px;
          border-bottom: 2px solid $accent-color;
          &:hover {
            background-color: darken($accent-color, 5%);
          }
        }
        a.active {
          border-bottom: 2px solid $white;
        }
      }
    }
    .skill {
      text-align: right;
    }
    .description {
      text-align: left;
    }
    .avatar-holder {
      text-align: right;
    }
    #map {
      height: 250px;
    }
  }
}
